


header{
    margin-bottom: 90p;
}
.carousel-inner{
    padding: 60px 80px 60px 120px;
}
.btn{
    background-color: #ff136f;
    transition: all 1s;
}

.btn:hover{
    background-color: #fff;
    color: #ff136f;
}

input{
    margin-bottom: 5px;
}



.top-banner, .subscribe{
    background-color: #fceae8;
}

.nav-link{
    font-weight: 700;
}